.window {
    resize: both;  /* Allow resizing both width and height */
    overflow: auto; /* Enable scrolling if content overflows */
    position: absolute;
    left: 300px;
    top: 20px;
  }
  .title-bar-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }