<div class="desktop">
  <div class="background">
    <!-- <app-shortcut [imageSrc]="'assets/shortcuts/ie.png'" [name]="'Internet Explorer'" [linkTo]="">

    </app-shortcut> -->
    <div class="taskbar">
      <div class="title-bar" 
      style="margin-bottom: 0px;
        width: 200%;
        height: 23.5px;
        position: fixed;
        bottom: 0;">
      </div>
      <div class="start" style="
        margin-left : 0%;
        width: 100px;
        height: 30px;
        position: fixed;
        bottom: 0;">
      </div>
    </div>



  </div>



  <!-- <div class="title-bar">
    <div class="title-bar-text">stuff</div>
  </div> -->
</div>






<!-- <div class="desktop" cdkDragBoundary> -->
<app-application></app-application>
<app-application></app-application>
<app-application></app-application>
<app-application></app-application>
<!-- </div> -->
