
.desktop {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    /* border: 15px solid orange */
}
.background{
    background-image: url('https://i.redd.it/puzkje595kf81.jpg');
    overflow: hidden;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.start{
    background-image: url('../assets/start/start-n.png');
}
.start:hover{
    background-image: url('../assets/start/start-h.png');
}
.start:active{
    background-image: url('../assets/start/start-c.png');
}